<%= render 'layouts/errors', obj: @user %>

<div class="useredit">
<div class="row">
	<div class="col-xs-5 col-xs-offset-2"><h2>ユーザー編集</h2></div>
</div><br>

<div class="row">
	<div class="col-xs-9 col-xs-offset-4">
		<%= form_for(@user) do |f| %>
			<%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg") %>
            <%= f.attachment_field :profile_image %><br>
		<div class="field row">
			<%= f.text_field :name, placeholder: "名前", class: "col-xs-6" %>
		</div><br>

		<div class="field row">
			<%= f.text_field :bike_name, placeholder: "バイク種類", class: "col-xs-6" %>
		</div><br>

		<div class="actions row">
			<%= f.submit "変更を保存", class: "btn btn-primary col-xs-6" %>
		</div>
		<% end %>
	</div>
</div>
</div>