<div class="row">
	<div class="col-xs-offset-1"><h2 class="title col-xs-3">フォロワー一覧画面</h2></div>
</div><br>

<div class="followerlist">
<div class="row">
	<div class="col-xs-9 col-xs-offset-2">
		<table class="table table-hov">
			<thead>
			<tr>
				<th></th>
				<th>名前</th>
				<th>バイク</th>
			</tr>
			</thead>
			<tbody>
				<% @user.follower_user.each do |u| %>
				<tr>
					<td>
					<%= link_to user_path(u.id) do %>
					<%= image_tag attachment_url(u, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg") %>
					<% end %>
					</td>
					<td><%= u.name %></td>
					<td><%= u.bike_name %></td>
					<td>フォロー数:<%= u.follower.count %><br>
					フォロワー数:<%= u.followed.count %>
					</td>
					<td><%if current_user != u %>
					<% if current_user.following?(u) %>
					<%= link_to "フォロー外す",unfollow_path(u),method: :post, class: "btn btn-primary" %>
					<% else %>
					<%= link_to "フォローする",follow_path(u),method: :post, class: "btn btn-success" %>
					<% end %>
					<% end %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
<%= paginate @users %>
</div>
</div>
</div>