<div class="userlist">
<div class="row">
	<div class="col-xs-3 col-xs-offset-2"><h2>ユーザー一覧</h2></div>
	<div class="col-xs-5 col-xs-offset-3">
	<table class="table table-hov">
		<thead>
			<tr>
				<th></th>
				<th>名前</th>
				<th>バイク</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |u| %>
			<tr>
				<td>
					<%= link_to user_path(u.id) do %>
					<%= image_tag attachment_url(u, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg") %>
					<% end %>
				</td>
				<td><%= u.name %></td>
				<td><%= u.bike_name %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<%= paginate @users %>
</div>
</div>
</div>