<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-xs-offset-1">
	<h2 class="title col-xs-3">マイページ</h2>
</div>
</div><br>

<div class="mypage">
<div class="row">
	<div class="col-xs-4 col-xs-offset-2">
		<%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg") %>
	</div>
	<div class="poro">
		<% if @user == current_user %>
			<%= link_to "お気に入り", bookmarks_index_path, class: "btn btn-primary" %>
			<%= link_to "プロフィール編集", edit_user_path, class: "btn btn-primary" %>
		<% end %>
	</div>
</div><br>


<div class="row">
	<div class="col-xs-4 col-xs-offset-2">
		<p>名前:<%= @user.name %></p>
		<p>バイク:<%= @user.bike_name %></p>
	</div>

	<div class="follow">
		<%= link_to user_follows_path(@user), class: "btn btn-primary" do %>
		フォロー数:<%= @user.follower.count %><br>
		<% end %>
		<%= link_to user_follower_path(@user), class: "btn btn-primary" do %>
		フォロワー数:<%= @user.followed.count %>
		<% end %>
	</div>
</div>
</div>

<div class="row">
	<div class="col-xs-offset-3">
		<h2 class="title col-xs-3">投稿内容</h2>
	</div>
</div><br>

<% @bikes.each do |b| %>
<div class="postlist">
<div class="row">
		<div class="img">
			<%= link_to bike_path(b.id) do %>
			<%= image_tag attachment_url(b, :image, :fill, 500, 500, format: "jpg") %>
			<% end %>
		</div>

		<div class="col-xs-offset-2">
			<!-- コメント -->
			<div class="inline-block">
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
				<%= b.comments.count %>
			</div>
			<!-- いいね -->
			<div class="inline-block" id="likes_area_<%= b.id %>">
				<%= render partial: "likes/like", locals: {like: b, bike: b} %>
			</div>
		</div>

		<div class="col-xs-offset-2">
			<p>ジャンル</p>
			<% b.tags.each do |t| %>
			   ・<%= t.tag_name %>
			<% end %><br>
			<h4>内容</h4>
			<%= b.title %>
		</div><br>

</div>
</div>
<% end %>
<div class="col-xs-offset-3">
	<%= paginate @bikes %>
</div>

