<p id="notice"><%= notice %></p>

<div class="mypage">
<div class="row">
	<div class="col-xs-5 col-xs-offset-2"><h2>マイページ</h2></div>
</div><br>

<div class="row">
	<div class="col-xs-3 col-xs-offset-2">
		<%= image_tag attachment_url(@user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg") %>
	</div>
</div><br>


<div class="row">
	<div class="col-xs-5 col-xs-offset-2">
		<p>名前:<%= @user.name %></p>
		<p>バイク:<%= @user.bike_name %></p>
	</div>

	<div class="col-xs-offset-1">
		<p><%= "フォロー数: #{@user.follower.count}" %></p>
		<p><%= "フォロワー数: #{@user.followed.count}" %></p>
	</div>
</div>

<div class="row">
	<% if @user == current_user %>
		<div class="col-xs-3 col-xs-offset-2">
			<%= link_to "プロフィール編集", edit_user_path, class: "btn btn-primary" %>
		</div>
		<% end %>
</div><br>

<div class="row">
	<div class="col-xs-12">
		<table class="table table-hov" >
			<tbody>
				<% @bikes.each do |b| %>
					<tr>
						<td>
						<div class="img">
						<%= link_to bike_path(b.id) do %>
						<%= image_tag attachment_url(b, :image, :fill, 500, 500, format: "jpg") %>
						<% end %>
						</div><br>
						<div class="col-xs-offset-2"><%= b.title %></div>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<%= paginate @bikes %>
		</div>
	</div>
</div>
