<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-xs-offset-3"><h2 class="title col-xs-3">投稿詳細画面</h2></div>
</div><br>

<div class="postdetail">

<div class="row">
<% if current_user == @bike.user %>
	<div class="col-xs-2 col-xs-offset-8">
	<%= link_to "編集", edit_bike_path, class: "btn btn-success"%>
	</div>
	<div class="col-xs-2">
	<%= link_to "削除", bike_path, class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
	</div>
<% end %>
</div><br>

<div class="row">
		<div class="img">
			<%= image_tag attachment_url(@bike, :image, :fill, 500, 500, format: "jpg") %>
		</div>

		<div class="col-xs-offset-2">
			<!-- いいね -->
			<div class="inline-block" id="likes_area_<%= b.id %>">
				<%= render partial: "likes/like", locals: {like: @like, bike: @bike} %>
			</div>
		</div>
		<!-- フォロー -->
		<div class="col-xs-offset-8">
			<%if current_user != @bike.user %>
			<% if current_user.following?(@bike.user) %>
				<%= link_to "フォロー外す",unfollow_path(@bike.user),method: :post, class: "btn btn-primary" %>
				<% else %>
				<%= link_to "フォローする",follow_path(@bike.user),method: :post, class: "btn btn-success" %>
			<% end %>
			<% end %>
		</div>

		<div class="col-xs-offset-2">
			<p>ジャンル</p>
			<% @bike.tags.each do |t| %>
			   ・<%= t.tag_name %>
			<% end %><br>
			<h4>内容</h4>
			<%= @bike.title %>
		</div><br>

		<div class="col-xs-offset-1">
			<%= image_tag attachment_url(@bike.user, :profile_image, :fill, 100, 100, format: "jpg", fallback: "no_image.jpg") %>
		</div><br>

		<div class="col-xs-offset-1">
			<p>名前:
			<%= @bike.user.name %></p>
			<p>バイク:
			<%= @bike.user.bike_name %></p>
		</div>
</div>

<!-- コメント機能 -->
<div class="row">
	<div class="col-xs-12">
		<h4 class="col-xs-offset-1">コメント一覧</h4>
		<div id="comments_area">
		<%= render partial: "comments/comment",locals: {comments: @comments} %>
		</div>
		<div class="col-xs-4 col-xs-offset-7">
		<%= render partial: "comments/form",locals: {comment: @comment, bike: @bike } %>
		</div>
	</div>
</div>

</div>
