<nav class="navbar navbar-inverse" style="margin: 0; padding: 10px 100px" >
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="header"><%= link_to "BIKERS", root_path %></h1>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" style="font-size: 20px; padding-top: 20px;">
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", user_path(current_user)%></li>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to "投稿一覧", bikes_path %></li>
          <li><%= link_to "投稿フォーム", new_bike_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "about", home_about_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
        <div class="search col-xs-offset-6">
          <%= form_tag(users_path, :method => "get") do %>
          <%= text_field_tag :search %>
          <%= submit_tag "search", :name => nil %>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>